body {
  margin: 0;
  font-family: Sans-Serif;
  font-size: 16px;
  box-sizing: border-box;
}

#popup-width {
  width: 460px;
}

widget-pageroute {
  max-height: 520px;
  max-width: 460px;
}

#dstats widget-statsbar {
  margin: 5px;
}

select {
  font-size: 14px;
}

#footer,#header,#routeHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}
#footer > *,#header > *,#routeHeader > * {
  margin: 2.5px;
}

#footer > span > * {
  padding-right: 5px;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 30%;
}

#task-list {
  display: flex;
  flex-direction: column-reverse;
}
widget-taskitem {
  --item-padding: 5px 10px;
}
#task-list > *:not(:first-child)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 30%;
}


#task-list:empty::after {
  content: 'No task';
  text-align: center;
  margin: 20px;
}

.expand {
  flex: 1;
}

#header > span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

#header > widget-switch[checked] + span {
  opacity: 1;
  visibility: unset;
}

.hidden {
  display: none;
}